<!doctype html>
<html>
<head>
  <title>Your Madlib</title>
  <link rel="stylesheet" href="../static/madlibs.css"
</head>
<body>
    <h1>Here is your madlib!</h1><br>
<p>
    There once was a {{ adj }}

    {% if noun %}
     
        {% for thing in noun %}
            {{ thing }}
        {% endfor %}

    {% endif %}

    on top of a hill. When {{ name }} climbed up the {{ color }} hill, it rolled down the hill in a totally {{ adj }} way. Thankfully, {{ name }} had a {{ color2 }} {{ adj2 }} {{ noun2 }}. So never underestimate a {{ adj2 }} {{ noun2}}!
</p>
</body>
</html>