<!doctype html>
<html>
<head>
  <title>Your Madlib</title>
  <link rel="stylesheet" href="../static/madlibs.css"
</head>
<body>
    <h1>Here is your madlib!</h1><br>
<p>
    There once was a {{ color }}

    {% if noun %}
     
        {% for thing in noun %}
            {{ thing }}
        {% endfor %}

    {% endif %}

    sitting in the Hackbright Lab. When {{ name }} went to pick it up, it burst into flames in a totally {{ adj }} way.
    Thankfully, {{ name }} had a {{ color2 }} {{ noun2 }}. So never underestimate a {{ adj2 }} {{ noun2}}!
</p>
</body>
</html>